{% extends "base.html" %}

{% block ascii_art %}
  __   ____   __   _  _  ____
 / _\ (  _ \ /  \ / )( \(_  _)
/    \ ) _ ((  O )) \/ (  )(
\_/\_/(____/ \__/ \____/ (__)

{% endblock %}

{% block image_wrap %}
<img src="{{ url_for('static', path='media/posada1.png') }}" class="hero-image" />
{% endblock %}

{% block nav %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
        <div class="container">
            <div class="column">
            <p>
                Hi! Thanks for visiting my site. My name is Diego, and this site is where you can find some more information about me and what I am working on.
                I'm a Chicago-based data scientist and programmer with a bachelors degree in Computer Science from DePaul University. My past work includes creating
                speech-based biomarkers and building AI-enhanced software across web applications and robotic systems. Currently, I am especially intersted in how machine learning
                can aid scientific discovery by surfacing insights that aren’t obvious to the human eye.
                <br><br>
                A project I am currently working on is an open source transit app for Chicago. I have the code for that linked in my projects page, and check for updates in
                my logs page. I am always looking for new opportunities, if you think I would be a good fit feel free to message me on LinkedIn or shoot me an email!
            </p>
            </div>

            <div class="column">
                <nav class="nav">
                    <a href="https://www.linkedin.com/in/diego-izaguirre-b78330279" class="node">LinkedIn</a>
                    <a href="https://github.com/tenochca" class="node">GitHub</a>
                    <a href="https://www.instagram.com/di.e.g.o_/" class="node">Instagram</a>
                </nav>
            </div>

        </div>
{% endblock %}
