{% block head %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Personal website" />
	<title>tenochca</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <link rel="icon" type="image/png" href="media/josegp.png">
</head>

{% endblock %}

<body>
    <div class="terminal">
        <div class="hero-row">
            <header class="ascii-header">
                <pre class="ascii-art">
                    {% block ascii_art %}{% endblock %}
                </pre>
            </header>

            <div class="hero-image-wrap">
                {% block image_wrap %}{% endblock %}
            </div>

        </div>

   	    <div>
            {% block nav %}{% endblock %}
	    </div>

		<main>
		{% block content %}{% endblock %}
		</main>
    </div>
    {% block script %}{% endblock %}
</body>
</html>
