{% include "base.html" %}
<body>

    <div class="terminal">
        <div class="hero-row">
	    <header class="ascii-header">
		    <pre class="ascii-art">
 ____  ____  __ _   __    ___  _  _   ___   __
(_  _)(  __)(  ( \ /  \  / __)/ )( \ / __) / _\
  )(   ) _) /    /(  O )( (__ ) __ (( (__ /    \
 (__) (____)\_)__) \__/  \___)\_)(_/ \___)\_/\_/

		    </pre>
	    </header>
        <div class="hero-image-wrap">
            <img src="{{ url_for('static', path='media/posada2.png') }}" alt="Profile image" class="hero-image" />
        </div>
        </div>

        <div id ="terminal-lines"></div>

	    <main>
		    <nav class="nav">
                <a href='/about' class="node">about</a>
                <a href="/logs" class="node"> logs</a>
                <a href="/projects" class="node"> projects</a>
            </nav>
	    </main>

    </div>
<script src="{{ url_for('static', path='scripts/script.js') }}"></script>
</body>
</html>
