{% extends "base.html" %}

{% block ascii_art %}
 ____  ____  __ _   __    ___  _  _   ___   __
(_  _)(  __)(  ( \ /  \  / __)/ )( \ / __) / _\
  )(   ) _) /    /(  O )( (__ ) __ (( (__ /    \
 (__) (____)\_)__) \__/  \___)\_)(_/ \___)\_/\_/

{% endblock %}

{% block image_wrap %}
    <img src="{{ url_for('static', path='media/posada2.png') }}" alt="Profile image" class="hero-image" />
{% endblock %}

{% block nav %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
    <div id ="terminal-lines"></div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', path='scripts/script.js') }}"></script>
{% endblock %}
