{% extends "base.html" %}

{% block ascii_art %}
 __     __    ___  ____
(  )   /  \  / __)/ ___)
/ (_/\(  O )( (_ \\___ \
\____/ \__/  \___/(____/

{% endblock %}

{% block image_wrap %}
<a href="/logs/new">
    <img src="{{ url_for('static', path='media/posada4.png') }}" class="hero-image"/>
</a>
{% endblock %}

{% block nav %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="project-nodes">
    <!--<a href="/logs/new" class="node">create log</a>-->
    {% for log in log_messages %}
        <a href="logs/{{ log.id }}" class="node project-node"> {{  log.formatted_created_at }} {{log.title}}</a>
    {% endfor %}
</div>
{% endblock %}
