{% extends "base.html" %}

{% block ascii_art %}
 __     __    ___  ____
(  )   /  \  / __)/ ___)
/ (_/\(  O )( (_ \\___ \
\____/ \__/  \___/(____/

{% endblock %}

{% block image_wrap %}
<a href="/logs/admin">
    <img src="{{ url_for('static', path='media/posada4.png') }}" class="hero-image"/>
</a>
{% endblock %}

{% block nav %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="list">
    {% for log in log_messages %}
    <a href="logs/{{ log.id }}" class="list-entry">
        <span class="prompt">&gt;</span>
        <span class="timestamp">{{ log.formatted_created_at }}</span>
        <span class="title">{{ log.title }}</span>
    </a>
    {% endfor %}
</div>
{% endblock %}
